<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <title>Weather app</title>
</head>
<body>
  <div class="container mt-5 p-4 col-3 bg-light text-dark border mb-3">
  <div class="p-3 text-center">
    <h3>Weather app. Weekly forecast</h3>
  </div>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            {% if "Ошибка." in message %}
              <div class="alert alert-danger" role="alert">
            {% else %}
              <div class="alert alert-success" role="alert">
            {% endif %}
                <p>{{ message }}</p>
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    
    
      <form class="" action="{{ url_for("render_index") }}" method="POST" enctype=multipart/form-data>
        {{ form.csrf_token }}
        <div class="row d-flex px-3">
        {{ form.file(class_="custom-form-control")}}
        </div>
        <hr>

        <div class="d-flex justify-content-between">
        {% if session['EXCEL_FILE_RECIEVED'] %}
          {{ form.submit(class_="btn btn-outline-primary") }}
          <a href="{{ url_for('create_report') }}" class="btn btn-success">Получить прогноз</a >
        {% else %}
          {{ form.submit(class_="btn btn-primary") }}
          <a href="{{ url_for('create_report') }}" class="btn btn-outline-secondary" disabled='disabled'>Получить прогноз</a>
        {% endif %}
        </div>
      </form>
    
</body>
</html>